accelerate==1.7.0
datasets==3.6.0
einops==0.8.1
huggingface-hub==0.32.3
jedi==0.19.2
Jinja2==3.1.6
multiprocess==0.70.16
safetensors==0.5.3
tokenizers==0.21.1
torch==2.4.0
torchvision==0.19.0
tornado==6.5.1
tqdm==4.67.1
transformer-lens==2.15.4
transformers==4.51.3
transformers-stream-generator==0.0.5
triton==3.0.0
wandb==0.19.11